<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="misFunciones.js"></script>
    <title>Prueba Ajax</title>
</head>
<body>
<h1>Probando Ajax</h1>
<button onclick="consultarProductos()">Consultar</button>
<div id="resultado"></div>
<hr>
<div>
    <input type="text" id="isbn" placeholder="Isbn01">
    <input type="text" id="titulo" placeholder="Titulo del Libro">
    <input type="text" id="autor" placeholder="Autor">
    <input type="text" id="editorial" placeholder="Editorial">
    <input type="number" id="no_page">
    <button onclick="guardarLibros()">Guardar</button>
</div>
<hr>

</body>
</html>